<%= form_with(model: game, html: { class: "game-form" }) do |form| %>
  <div>
    <%= form.label :difficulty %>
    <%= form.select :difficulty, Game.difficulties.keys,
                    { prompt: 'Select a game difficulty' } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
