<div class="counters">
  <div class="progress-circle" data-reversi-target="progressCircle">
    <div class="mask full">
      <div class="fill"></div>
    </div>
    <div class="mask half">
      <div class="fill"></div>
      <div class="fill fix"></div>
    </div>
    <div class="circle-text">
      <div class="black-counter" data-reversi-target="blackCounter">Black: <span>0</span></div>
      <div class="white-counter" data-reversi-target="whiteCounter">White: <span>0</span></div>
    </div>
  </div>
</div>